@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/topography" as *;

.user__main-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;

    &--hide {
        display: none;
    }

    &-title{
        font-size: 30px;
    }

    &-nav {
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;

        &-home {
            position: relative;
            z-index: 2;
            left: 1rem;
            top: 1.6rem;
        }

        &-search {
            z-index: 1;
            width: 100%;
            height: 100%;

            & .ant-input-outlined {
                padding-left: 11%;

                &:hover {
                    padding-left: 9%;
                }
            }
        }
    }

    &-displayTeams {
        width: 100%;
        height: 100%;

        &-singleTeam {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            margin-bottom: 1rem;
            padding: 0.5rem 1rem 1rem 1rem;
            border: 3px solid #5C667E;

            &:hover {
                background-color: rgba(10, 9, 10, 0.1);
            }

            &-teamName {
                font-weight: bold;
                font-size: 22px;
                display: block;
                margin-bottom: 1rem;
                @include flex(row, space-between, center);

                &-delete {
                    display: block;
                }
            }

            &-teamMembers {
                width: 100%;
                height: 100%;

                &-singleMember {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 0.5rem;

                    &:hover {
                        background-color: rgba(36, 33, 36, 0.304);
                        border-radius: 5px;
                    }


                    &-title {
                        transition: font-size 1s;
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: #2E66E5;
                        
                        &--triggered {
                            font-weight: bold;
                            font-size: 20px;
                        }
                        // & span{
                        //     display: block;
                        //     width: 100%;
                        //     height:100%;
                        //     font-size: 20px;
                        // }
                    }


                    &-info {
                        transition: height 0.6s ease;
                        height: 0;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;

                        &>* {
                            width: 100%;
                            height: 100%;
                            display: block;
                            margin-bottom: 0.2rem;
                            font-weight: bold;
                            @include flex(row, space-between, center);

                            @media (max-width:200px) {
                                @include flex(column, center, flex-start);
                                border-bottom: 1px solid #E1E1E1;
                            }

                            &>* {
                                display: block;
                                height: 30px;
                                width: 50%;
                                border-radius: 5px;
                                border: none;
                            }

                            &>span {
                                position: relative;
                                top: 5px;
                            }

                            &>input {
                                padding-left: 0.5rem;
                            }
                        }

                        &--show {
                            height: 330px;
                        }

                        &-button {
                            display: block;
                            width: 100%;
                            background-color: #0095FF;
                            border: none;
                            color: #FFFFFF;
                            text-align: center;
                            padding: 0.3rem 0.25rem;
                            border-radius: 5px;
                            font-family: "titillium";
                            font-size: 15px;
                            margin-bottom: 0.5rem;
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }

        &-addNewTeam {
            width: 100%;
            padding: 0rem 1rem 1rem 1rem;
            border: 3px solid #5C667E;
            border-radius: 5px;
            @include flex(column, center, center);

            &-icon {
                font-size: 30px;
                margin-bottom: 0.5rem;
                margin-top:1rem;
                transition: font-size,margin-top 1s;

                &--hide {
                    font-size: 0;
                    margin-top:0;
                }
            }

            &-input {
                width: 100%;
                height: 150px;
                transition: height 1s;
                overflow: hidden;
                @include flex(column, space-between, center);

                &>* {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: none;
                }

                &>span {
                    top: 5px;
                    font-weight: bold;
                    @include flex(row, space-between, center);

                    &>img {
                        display: block;
                        height: 20px;
                    }
                }

                &>input {
                    padding-left: 0.5rem;
                }

                &--hide {
                    height: 0px;
                    overflow: hidden;
                }

                &-error {
                    display: none !important;

                    &--error {
                        display: block !important;
                        color: #C94515 !important;
                    }
                }

                &-button {
                    padding: 0.3rem 0.25rem;
                    display: block;
                    width: 100%;
                    background-color: #0095FF;
                    border: none;
                    color: #FFFFFF;
                    text-align: center;
                    border-radius: 5px;
                    font-family: "titillium";
                    font-size: 15px;
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}