@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/topography" as *;

.user__main-teams {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    padding: 2rem;
    @include tablet{
        padding:10rem;
        padding-top: 2rem;
    }
    @include desktop{
        padding:20rem;
        padding-top: 2rem;
    }

    &--hide {
        display: none;
    }

    &-companyName {
        position: absolute;
        top: 0.9rem;
        left: 2.8rem;
        color: #13182C;
    }

    &-title {
        display: block;
        font-size: 30px;
        color: #13182C;
        margin-top: 1rem;
    }

    &-nav {
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;

        &-home {
            position: absolute;
            z-index: 2;
            left: 1rem;
            top: 1rem;
        }

        &-search {
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }

    &-dropdown {
        width: 100%;
        max-height: 112px;
        min-height: 112px;
        overflow: scroll;
        background-color: #FFFFFF;
        box-shadow: 0 8px 200px rgba(0, 0, 0, 0.5);
        margin-top: -32px;
        border-radius: 5px;

        & ul {
            list-style: none;

            & li {
                font-size: 18px;
                display: block;
                height: 30px;
                padding-left: 1rem;

                &:hover {
                    background-color: #797b7d17;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        &--hide {
            display: none;
        }
    }

    &-displayTeams {
        width: 100%;
        height: 100%;

        &-singleTeam {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            margin-bottom: 1rem;
            padding: 0.5rem 1rem 1rem 1rem;
            border: 3px solid #13182C;

            &:hover {
                background-color: rgba(10, 9, 10, 0.1);
            }

            &-teamName {
                font-weight: bold;
                font-size: 22px;
                display: block;
                margin-bottom: 1rem;
                color: #13182C;
                @include flex(row, space-between, center);

                &-delete {
                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        transform: translateY(5px);
                    }
                }
            }

            &-teamMembers {
                width: 100%;
                height: 100%;

                &-singleMember {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 0.5rem;

                    &:hover {
                        background-color: rgba(36, 33, 36, 0.304);
                        border-radius: 5px;
                    }


                    &-title {
                        transition: font-size 1s;
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: #2E66E5;

                        &--triggered {
                            font-weight: bold;
                            font-size: 20px;
                        }

                        &:hover {
                            cursor: pointer;
                            font-size: 20px;
                        }
                    }


                    &-info {
                        transition: height 0.6s ease;
                        height: 0;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;

                        &>* {
                            width: 100%;
                            height: 100%;
                            display: block;
                            margin-bottom: 0.2rem;
                            @include flex(row, space-between, center);

                            @media (max-width:200px) {
                                @include flex(column, center, flex-start);
                                border-bottom: 1px solid #E1E1E1;
                            }

                            &>* {
                                display: block;
                                height: 30px;
                                width: 50%;
                                border-radius: 5px;
                                border: none;
                            }

                            &>span {
                                position: relative;
                                top: 5px;
                            }

                            &>input {
                                padding-left: 0.5rem;
                            }
                        }

                        &--show {
                            height: 330px;
                        }

                        &-button {
                            display: block;
                            width: 100%;
                            background-color: #0095FF;
                            border: none;
                            color: #FFFFFF;
                            text-align: center;
                            padding: 0.3rem 0.25rem;
                            border-radius: 5px;
                            font-family: "titillium";
                            font-size: 15px;
                            margin-bottom: 0.5rem;
                            margin-top: 0.5rem;

                            &:hover {
                                cursor: pointer;
                                font-size: 20px;
                            }

                            &:active {
                                transform: translateY(5px);
                            }
                        }
                    }
                }
            }
        }

        &-addNewTeam {
            width: 100%;
            padding: 0rem 1rem 1rem 1rem;
            border: 3px solid #13182C;
            border-radius: 5px;
            @include flex(column, center, center);

            &-icon {
                display: block;
                margin-top: 0.8rem;

                &--hide {
                    display: none;
                }

                &:hover {
                    cursor: pointer;
                    font-size: 20px;
                }

                &:active {
                    transform: translateY(5px);
                }
            }

            &-input {
                width: 100%;
                height: 150px;
                transition: height 1s;
                overflow: hidden;
                @include flex(column, space-between, center);

                & img {
                    &:hover {
                        cursor: pointer;
                        font-size: 20px;
                    }
                }

                &>* {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: none;
                }

                &>span {
                    top: 5px;
                    font-weight: bold;
                    @include flex(row, space-between, center);

                    &>img {
                        display: block;
                        height: 20px;
                    }
                }

                &>input {
                    padding-left: 0.5rem;
                }

                &--hide {
                    height: 0px;
                    overflow: hidden;
                }

                &-error {
                    display: none !important;

                    &--error {
                        display: block !important;
                        color: #C94515 !important;
                    }
                }

                &-button {
                    padding: 0.3rem 0.25rem;
                    display: block;
                    width: 100%;
                    background-color: #0095FF;
                    border: none;
                    color: #FFFFFF;
                    text-align: center;
                    border-radius: 5px;
                    font-family: "titillium";
                    font-size: 15px;
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;

                    &:hover {
                        cursor: pointer;
                        font-size: 20px;
                    }

                    &:active {
                        transform: translateY(5px);
                    }
                }
            }
        }
    }
}