@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/topography" as *;

.register {
    font-family: "titillium";
    animation: fade-in 0.3s ease-in-out;
    height: 100%;
    padding-top: 3rem;

    &__main {
        @include flex(column, flex-start, center);
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 4px;

        &-logo {
            position: absolute;
            left: 1.22rem;
            top: 1.22rem;
            &:hover {
                cursor: pointer;
            }
        }

        &-title {
            margin-top: 5rem;
            font-size: 25px;
            margin-bottom: 1rem;
            color: white;
        }

        &-form {
            width: 50%;

            &-input {
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #E1E1E1;
                margin-bottom: 1rem;
                padding-left: 1rem;
                outline: none;

                &::placeholder {
                    font-family: "titillium";
                }
            }

            &-password {
                @include flex(row, flex-end, center);

                & img {
                    position: absolute;
                    margin-bottom: 15px;
                    margin-right: 15px;

                }
            }

            &-buttons {
                width: 100%;
                @include flex(column, space-around, flex-end);

                & button {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    font-family: "titillium";
                    font-size: 15px;
                    border: none;

                    &:hover {
                        cursor: pointer;
                        font-size: 20px;
                    }

                    &:active {
                        transform: translateY(5px);
                    }
                }

                &--1 {
                    color: #FFFFFF;
                    background-color: #0095FF;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@include fade-in;