@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/topography" as *;

.user__main-applicants {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    padding: 2rem;
    @include tablet{
        padding:10rem;
        padding-top: 2rem;
    }
    @include desktop{
        padding:20rem;
        padding-top: 2rem;
    }

    &--hide {
        display: none;
    }

    &-nav {

        &-home {
            position: absolute;
            z-index: 2;
            left: 1rem;
            top: 1rem;
        }
    }

    &-displayTeams {
        width: 100%;
        height: 100%;

        &-singleTeam {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            margin-bottom: 1rem;
            padding: 0.5rem 1rem 1rem 1rem;
            border: 3px solid #13182C;

            &:hover {
                background-color: rgba(10, 9, 10, 0.1);
            }

            &-teamName {
                font-weight: bold;
                font-size: 22px;
                display: block;
                margin-bottom: 1rem;
                color: #13182C;
            }

            &-teamMembers {
                width: 100%;
                height: 100%;

                &-singleMember {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 0.5rem;

                    &:hover {
                        background-color: rgba(36, 33, 36, 0.304);
                        border-radius: 5px;
                    }

                    &-title {
                        transition: font-size 1s;
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: #2E66E5;

                        &--triggered {
                            font-weight: bold;
                            font-size: 20px;
                        }

                        &:hover {
                            cursor: pointer;
                            font-size: 20px;
                        }
                    }

                    &-info {
                        width: 100%;
                        transition: height 0.6s ease;
                        height: 0;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        overflow-y: auto;

                        &>* {
                            width: 100%;
                            height: 100%;
                            display: block;
                            margin-bottom: 0.2rem;
                            @include flex(row, space-between, center);

                            @media (max-width:200px) {
                                @include flex(column, center, flex-start);
                                border-bottom: 1px solid #E1E1E1;
                            }

                            &>input,
                            select {
                                padding-left: 0.5rem;
                                display: block;
                                height: 30px;
                                width: 50%;
                                border-radius: 5px;
                                border: none;
                            }
                        }

                        &>section {
                            & input {
                                padding-left: 0.5rem;
                                display: block;
                                height: 30px;
                                width: 100%;
                                border-radius: 5px;
                                border: none;
                            }
                        }

                        &--show {
                            height: 500px;
                        }

                        &-button {
                            display: block;
                            width: 100%;
                            background-color: #0095FF;
                            border: none;
                            color: #FFFFFF;
                            text-align: center;
                            padding: 0.7rem 0.25rem;
                            border-radius: 5px;
                            font-family: "titillium";
                            font-size: 15px;
                            margin-bottom: 1rem;

                            &:hover {
                                cursor: pointer;
                                font-size: 20px;
                            }

                            &:active {
                                transform: translateY(5px);
                            }
                        }

                        &-email {
                            width: 100%;
                            @include flex(column, center, flex-start);

                            &>* {
                                @include flex(column, center, flex-start);
                                width: 100%;

                                &>* {
                                    width: 100%;
                                }
                            }

                            & textarea {
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}