@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/topography" as *;

.login {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "titillium";
    animation: fade-in 0.3s ease-in-out;

    @include tablet {
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 10rem;
        padding-right: 10rem;
        @include flex(row, center, center)
    }
    @include desktop {
        padding-left: 16rem;
        padding-right: 16rem;
    }

    &--hidden {
        display: none;
    }

    &__container {
        @include flex(column, flex-start, center);
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 4px;

        @include tablet {
            width: 620px;
            min-width: 620px;
            height: 350px;
            background: linear-gradient(0deg, rgba(208, 208, 118, 0.295), rgba(186, 18, 18, 0.2), rgba(62, 32, 183, 0.2));
            background-color: rgba(255, 255, 255, 0.879);
        }

        &-title {
            margin-top: 5rem;
            font-size: 25px;
            margin-bottom: 1rem;
            color: white;

            @include tablet {
                margin-top: 1rem;
            }
        }

        &-form {
            width: 50%;

            &-input {
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #E1E1E1;
                margin-bottom: 1rem;
                padding-left: 1rem;
                outline: none;

                &::placeholder {
                    font-family: "titillium";
                }
            }

            &-buttons {
                width: 100%;
                @include flex(column, space-around, flex-end);

                & button {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    font-family: "titillium";
                    font-size: 15px;
                    border: none;
                }

                &--1 {
                    color: #FFFFFF;
                    background-color: #0095FF;
                    margin-bottom: 1rem;
                }

                &--2 {
                    color: #0095FF;
                    background-color: #FFFFFF;

                    &:hover {
                        border: 2px solid #0095FF;
                    }
                }
            }
        }

        &-close {
            position: relative;
            top:100px;
            left:30vw;
            @include tablet {
                left:300px;
                top:0;
            }
        }
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
