@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/topography" as *;

.apply {
    font-family: "titillium";
    animation: fade-in 0.3s ease-in-out;
    height: 100%;
    padding-top: 3rem;

    &__main {
        @include flex(column, flex-start, center);
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 4px;

        &-title {
            margin-top: 5rem;
            font-size: 25px;
            margin-bottom: 1rem;
            color: white;
            text-align: center;
        }

        &-logo{
            position: absolute;
            left: 1.22rem;
            top: 1.22rem;
            &:hover {
                cursor: url("../../assets/icons/click.svg"), auto;
            }
        }

        &-form {
            width: 50%;

            &-input {
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #E1E1E1;
                margin-bottom: 1rem;
                padding-left: 1rem;
                outline: none;

                &::placeholder {
                    font-family: "titillium";
                }
            }

            &-dropdown {
                width: 50vw;
                position: absolute;
                max-height: 112px;
                min-height: 112px;
                overflow: scroll;
                background-color: #FFFFFF;
                box-shadow: 0 8px 200px rgba(0, 0, 0, 0.5);
                margin-top: -17px;
                border-radius: 5px;

                & ul {
                    list-style: none;

                    & li {
                        font-size: 18px;
                        display: block;
                        height: 30px;
                        padding-left: 1rem;

                        &:hover {
                            background-color: #797b7d17;
                            font-size: 20px;
                            font-weight: bold;
                            cursor: url("../../assets/icons/click.svg"), auto;
                        }
                    }
                }

                &--hide {
                    display: none;
                }
            }

            &-buttons {
                width: 100%;
                @include flex(column, space-around, flex-end);

                & button {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    font-family: "titillium";
                    font-size: 15px;
                    border: none;

                    &:hover {
                        cursor: url("../../assets/icons/click.svg"), auto;
                        font-size: 20px;
                    }

                    &:active {
                        transform: translateY(5px);
                    }
                }

                &--1 {
                    color: #FFFFFF;
                    background-color: #0095FF;
                    margin-bottom: 1rem;

                    &:hover {
                        cursor: url("../../assets/icons/click.svg"), auto;
                    }
                }
            }
        }
    }
}

@include fade-in;